@inherits AgendaWebPage
@using Connect.Agenda.Core.Repositories
@using Connect.Agenda.Agenda.Common
@using DotNetNuke.Security.Permissions
@{
  AgendaModuleContext.AddModuleScript();
}

<div class="ConnectAgenda Agenda"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-portalid="@Dnn.PortalSettings.PortalId"
     data-resources="@SerializedResources()"
     data-cities="@(Newtonsoft.Json.JsonConvert.SerializeObject(VenueRepository.Instance.ListCities(Dnn.ActiveModule.ModuleID)))"
     data-categories="@(Newtonsoft.Json.JsonConvert.SerializeObject(CategoryRepository.Instance.GetCategories(Dnn.ActiveModule.ModuleID)))"
     data-venues="@(Newtonsoft.Json.JsonConvert.SerializeObject(VenueRepository.Instance.GetVenues(Dnn.ActiveModule.ModuleID)))"
     data-detailurl="@Url.Action("Index", "Items", new { id = "-1" })"
     data-canedit="@ModulePermissionController.HasModulePermission(Dnn.ActiveModule.ModulePermissions, "EDIT").ToString().ToLowerInvariant()">
</div>
