@inherits AgendaWebPage
@using DotNetNuke.Web.Mvc.Framework
@using DotNetNuke.Web.Mvc.Helpers
@using Connect.Agenda.Core.Repositories
@using Connect.Agenda.Agenda.Common
@{
  var page = Dnn.DnnPage;
  var contextHelper = new ContextHelper(page);
  contextHelper.RegisterAjaxScript();
  contextHelper.AddScript("agenda.js");
}

<div class="ConnectAgenda Agenda"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-portalid="@Dnn.PortalSettings.PortalId"
     data-cities="@(Newtonsoft.Json.JsonConvert.SerializeObject(VenueRepository.Instance.ListCities(Dnn.ActiveModule.ModuleID)))"
     data-categories="@(Newtonsoft.Json.JsonConvert.SerializeObject(CategoryRepository.Instance.GetCategories(Dnn.ActiveModule.ModuleID)))"
     data-venues="@(Newtonsoft.Json.JsonConvert.SerializeObject(VenueRepository.Instance.GetVenues(Dnn.ActiveModule.ModuleID)))"
     data-resources="@SerializedResources()"
     data-detailurl="@Url.Action("Index", "Items", new { id = "-1" })">
</div>