@inherits DnnWebViewPage
@using DotNetNuke.Web.Mvc.Framework
@using DotNetNuke.Web.Mvc.Helpers
@using Connect.Agenda.Core.Repositories
@using Connect.Agenda.Agenda.Common
@{
  var items = ItemRepository.Instance.GetItems(Dnn.ActiveModule.ModuleID);
  var page = Dnn.DnnPage;
  var contextHelper = new ContextHelper(page);
  contextHelper.RegisterAjaxScript();
  contextHelper.AddScript("agenda.js");
}

<div class="Agenda">
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Date From</th>
      <th>Date To</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in items)
    {
      <tr>
        <td>@item.Title</td>
        <td>@item.CategoryName</td>
        <td>@item.DateFrom</td>
        <td>@item.DateTo</td>
        <td>
          <a href="@Url.Action("Index", "Items", new { id = item.ItemId })">View</a>
        </td>
      </tr>
    }
</table>


